html
    head
        title hello login page

        body
            div(style="text-align:center ")
                h1= "hello "+ name
            div(style="text-align:center")
                form(action="/movie" method="POST")
                br
                input(type = "text" name ="email" placeholder ="E-mail")
                br
                br
                input(type ="text" name ="password" placeholder = "Password")
                br
                br
                button(type="submit")= "LOGIN"
            div
                each result in results
                    h4= results.title
                    img(src=result.thumb width = "%30")
                    p= result.description
                